.logo   {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.textoH1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c50083;
}  

.paragrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    font-size: 10px;
    text-align: center;
}

/** ANIMAÇÃO MASCOTE CONNECT **/
.mascote {
    background-size: contain;
    height: auto;
    position: absolute;
    top: 40%;
    width: rem(200);
    
    animation-name: fly;
    animation-duration: 5s;    
    animation-iteration-count: infinite;
   

    
}

@keyframes fly {
    0% {
        transform: translate(-150px, -120px );
    }
    50% {
        transform: translate(-50px, -100px);
    }
    100% {
            transform: translate(150vw, -250px);
    }
}

/** Fim da animação **/

.container{
    text-align: center;
    margin-top: auto;
  }
  .btn{
    border: 01px solid #c50083 ;
    background: none;
    padding: 05px 05px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .btn1,.btn2                                                                                                                                                                                                                                              {
      color: rgb(197, 0, 131);
     
  }
  .btn1:hover, .btn2:hover{
      color: rgb(255, 255, 255);
  }

  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(45deg, #5d00b4,  #c50083 ) ;
    z-index: -1;
    transition: 0.6s;
  }

  .btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn1:hover::before{
      
    height: 180%
  }

  .btn2::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn2:hover::before{
    height: 180%;
  }

  a:link, a:visited {
	text-decoration: none;
    color:rgb(197, 0, 131)
	}
a:hover {
	text-decoration: none; 
	color: rgb(255, 255, 255)
	}
a:active {
	text-decoration: none;
    color: rgb(197, 0, 131)
	}



    @import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

    body {
      font-family: "Lato";
      background: #cecece;
      overflow: hidden;
      height: 100%;
      width: 100%;
      -webkit-font-smoothing: antialiased;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    
    #particles-js, #parallax, .layer, .some-space, .some-more-space {
      height: 100%;
      position: absolute;
      width: 100%;
    }
    
    #particles-js {
      opacity: 0.6;
    }
    
    .some-space {
      animation: rotate 18s 0.5s infinite linear reverse;
    }
    
    .some-more-space {
      -webkit-animation: rotate 15s 0.1s infinite linear;
              animation: rotate 15s 0.1s infinite linear;
    }
    
    @-webkit-keyframes rotate {
      0% {
        transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
      }
    }
    
    @keyframes rotate {
      0% {
        transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
      }
    }